.addproductform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:15px;
}

.namelabel .descriptionlabel .pricelabel .categorylabel .colorlabel .sizelabel .imagelabel{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 10px;
width: 100%;
}

.name-form .description-form .price-form .category-form .color-form .size-form{
display: flex;
flex-direction: column;
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
}

.submit-form {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 8px; /* add some spacing between the buttons */
}

.submit-form:hover {
    background-color: #FF5A5F;
}
