/* TODO Add site wide styles */
html {

    margin: 0 15%;
    font-family: 'Oxygen', sans-serif;

}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a {
    color: black;
}
