.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: -0.05%;
  /* position: relative; Add this line */
  z-index: 1;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 2;
  margin-top: 1px;
  width: 150px;
  height: auto;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5%;
  position: absolute;
}

.hidden {
  display: none;
}


.add-button {
  display: flex;

  margin-left: auto;
}

.add-button:hover {
  background-color: #b6b6b6;
}

.order-button:hover {
  background-color: #b6b6b6;
}


.home-button {
  display: flex;
  color: transparent;
  background-image: url(./ezgif.com-resize.gif);
  height: 100px;
  width: 100px;

}

.cart-button {

  display: flex;
  justify-content: center;
  /* margin-left: auto;  */
  width: 500%;
  font-size: 22px;
}

.order-button {
  display: flex;

  margin-left: auto;
}



/* .profilebuttonimage {
  border-radius: 10px;
} */
.profilebutton {
 border: hidden;
 padding: 0;
 padding-bottom: white;
}

.profilebutton:hover .profilebuttonimage {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #b6b6b6;
}


.profile-dropdown li {
  margin-bottom: 10px;
  word-break: break-word;
}

.profile-dropdown button {
padding: 10px;
margin: 5px;
background-color: #ccc;
color: #fff;
border: none;
cursor: pointer;
}

.profile-dropdown button:hover {
  background-color: rgb(242, 240, 132);
}
.nav-search {
  border: 2px solid black;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 60%;
}
.search-bar{

  display: flex;
  justify-content: center;
  width: 97%;
  margin-left: 5px;
  padding-left: 5px;

}

.inputbar {
  border: none;
  width: 95%;
  height: 20px;
  outline: none;

  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
}

.searchbutton {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;

 border: none;
 font-size: 22px;
}

.logoutbutton {
  background-color: #fc3239 !important;
  border-radius: 4px !important;
  border: none !important;
  color: #FFFFFF !important;
  font-size: 12px !important;
  padding: 6px 16px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
}

.logoutbutton:hover {
  background-color: #aa0006 !important;
}


[data-theme='dark'] {
  --background: #212121;
  --primary: #fff;
}


body {
  background-color: var(--background);
  color: var(--primary);
}

[data-theme='dark'] .NavBar {
  background-color: #282c34;
  color: #fff;
}

[data-theme='dark'] .profile-dropdown {
  background-color: #282c34;
  color: white;
}

[data-theme='dark'] .nav-search.dark-mode {
  background-color: #282c34;
  color: white;
  border: none;
}

[data-theme='dark'] .nav-search {
  background-color: #282c34;
  color: white;
  border: none;
}

[data-theme='dark'] .inputbar {
  /* background-color: transparent; */
  /* color: white; */
  border: 1px solid;
}
