.Navbar {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: -0.05%;
  position: relative; /* Add this line */
  z-index: 1;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 2;
  margin-top: 1px;
  width: 150px;
  height: auto;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5%;
  position: absolute; /* Add this line */
}

.hidden {
  display: none;
}


.add-button {


  /* display: flex; */
  margin-right: auto;
  border-radius: 2px red solid;
  /* display: flex; */
  justify-content: flex-end;
  /* width: 700%; */

}

.add-button:hover {
  background-color: #b6b6b6;
}

.order-button:hover {
  background-color: #b6b6b6;
}

.home-button {
  display: flex;
  color: transparent;
  background-image: url(./ezgif.com-resize.gif);
  height: 100px;
  width: 100px;

}

.cart-button {
  display: flex;

  margin-left: auto;
}

.order-button {
  display: flex;

  margin-left: auto;
}

.leftsidebuttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 25px;
  gap: 25px;
}

/* .profilebuttonimage {
  border-radius: 10px;
} */
.profilebutton {
 border: hidden;
 padding: 0;
 padding-bottom: white;
}

.profilebutton:hover .profilebuttonimage {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #b6b6b6;
}


.profile-dropdown li {
  margin-bottom: 10px;
  word-break: break-word;
}

.profile-dropdown button {
padding: 5px;
background-color: #ccc;
color: #fff;
border: none;
cursor: pointer;
}

.search-bar{
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250%;
  padding-left: 100px;
}

.input {
  border-radius: 20px;
  border: 2px solid black;
}

.searchbutton {
  display: flex;
  padding-left: 10px;
  border: 1px solid black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
