.preview-image{
    display: flex;
    width: 170px;
    height: 170px;
}

.products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      

}

.productDetails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid black; */
}

.preview-image:hover {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #b6b6b6;
}

.preview-image:hover {
    visibility: visible;
}

.welcomebanner {
    display: flex;
    justify-content: center;
    width: 100%;
}


